html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 96%;
    overflow-x: hidden;
    border: 30px solid #1D806C;
}

#canvas {
    display: block;
}

h1 {
    font-size: 62px;
    font-family: 'Chelsea Market', cursive;
    color: #1D806C;
    padding-left: 34%;
}

h4 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    padding-left: 35px;
    font-size: 30px;
}

i {
    color: #1D806C;
    transition: .3s all ease-in-out;
}

i:hover {
    transition: .3s all ease-in-out;
    color: #3498db;
}

a {
    text-decoration: none;
    color: #1D806C;
    transition: .3s all ease-in-out;
}

a:hover {
    color: #3498db;
    transition: .3s all ease-in-out;
}
.fa-3x{
   padding-left: 50%;
   text-decoration: none;   
}